In [1]:
import os,sys
project_path = os.path.abspath(os.path.join('..'))
sys.path.append(project_path)
os.environ.get("NEWSAPI_API_KEY")
print("XXXXXXXXXX=>", os.environ.get("NEWSAPI_API_KEY"))
newsapi_api_key = os.environ.get("NEWSAPI_API_KEY")
Connection_String = os.environ.get("NEWSAPI_API_KEY")

XXXXXXXXXX=> e3aa418fa9e249afad49e408b1d3ee40

In [2]:
from src.etl.bronze.extract.data_structure_extract_strategy import DataExtractor

config = {
            "type": "api_url",
            "path": "https://newsapi.org/v2/top-headlines",
            "params": {
                "country": "us",
                "pageSize": 2,
                "apiKey": newsapi_api_key,
                "category": "business",
            }
        }
data = DataExtractor.get_extractor(config).extractor()

In [3]:
for item in data.get("articles", []):
            item["category"] = "business"

In [4]:
from src.etl.bronze.transform.data_format_strategy import (
    FromJsonToDataFrameFormatter,
    FromDataFrameToCsvFormatter,
    DataFormatter,
    )
from src.etl.bronze.transform.data_metadata_strategy import MetadataAppender
from src.etl.bronze.transform.data_transform_strategy import RenameColumnsTransform
from datetime import datetime, timedelta, timezone
import pandas as pd


df = DataFormatter(
FromJsonToDataFrameFormatter(array_keys=["articles"])
).formatting(data)
df = RenameColumnsTransform(
{
    "source.id": "source_id",
    "source.name": "source_name",
}
).transform(df)
metadata = {
"createdate": pd.Timestamp.now(tz=timezone.utc).strftime("%Y-%m-%dT%H:%M:%SZ"),
"usercreate": "system",
"updatedate": pd.NaT,
"userupdate": "system",
"activedata": True,
"batch_id": "run_id",
"source": "currentsapi",
"layer": "bronze",
}
meta_appender = MetadataAppender(metadata)
df = meta_appender.meta(df)
csv = DataFormatter(
FromDataFrameToCsvFormatter(index=False, encoding="utf-8-sig", sep=",")
).formatting(df)

Renaming columns: {'source.id': 'source_id', 'source.name': 'source_name'}

In [5]:
df.head()

,author,title,description,url,urlToImage,publishedAt,content,category,source_id,source_name,createdate,usercreate,updatedate,userupdate,activedata,batch_id,source,layer
0,Hugh Son,PayPal signs deal with OpenAI to become the fi...,The move makes PayPal an early part of OpenAI'...,https://www.cnbc.com/2025/10/28/paypal-openai-...,https://image.cnbcfm.com/api/v1/image/10803928...,2025-10-28T10:15:01Z,PayPal has signed a deal with OpenAI to have i...,business,None,CNBC,2025-10-29T09:44:23Z,system,NaT,system,True,run_id,currentsapi,bronze
1,None,"Amazon to cut 14,000 corporate jobs - Financia...",Job losses come as chief oversees a cost-cutti...,https://www.ft.com/content/106a0ea2-5f76-47c3-...,https://images.ft.com/v3/image/raw/https%3A%2F...,2025-10-28T10:02:16Z,"FT Digital Edition: todays FT, cover to cover ...",business,None,Financial Times,2025-10-29T09:44:23Z,system,NaT,system,True,run_id,currentsapi,bronze

In [6]:
from src.etl.bronze.transform.data_silver_cleaning_strategy import SilverCleaningNewsapi
df_cleaned = SilverCleaningNewsapi().silverCleaning(df)
df_cleaned.head()

,author,title,description,url,urlToImage,published_at,content,category,source_id,source_name,createdate,usercreate,updatedate,userupdate,activedata,batch_id,source,layer,region
0,None,None,None,https://www.cnbc.com/2025/10/28/paypal-openai-...,https://image.cnbcfm.com/api/v1/image/10803928...,2025-10-28 10:15:01+00:00,None,business,None,None,2025-10-29T09:44:23Z,system,NaT,system,True,run_id,currentsapi,bronze,None
1,None,None,None,https://www.ft.com/content/106a0ea2-5f76-47c3-...,https://images.ft.com/v3/image/raw/https%3A%2F...,2025-10-28 10:02:16+00:00,None,business,None,None,2025-10-29T09:44:23Z,system,NaT,system,True,run_id,currentsapi,bronze,None

In [ ]:
from src.function.index.sf_generator import SnowflakeGenerator, log_running
import pandas as pd

dsn = "postgresql://postgres:!NTpatn2549@localhost:5433/postgres"

# ‡∏™‡∏£‡πâ‡∏≤‡∏á generator ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö source ‡∏ô‡∏±‡πâ‡∏ô
sf = SnowflakeGenerator(
    dsn=dsn,
    source_name="bronze.newsapi",
    datacenter_id=0,
    usercreate="airflow"
)


# ‚úÖ ‡∏™‡∏£‡πâ‡∏≤‡∏á sf_id ‡πÉ‡∏´‡πâ‡∏ó‡∏∏‡∏Å‡πÅ‡∏ñ‡∏ß
df["sf_id"] = sf.bulk_generate(len(df))

# ‚úÖ log ‡∏Å‡∏≤‡∏£‡∏£‡∏±‡∏ô‡∏•‡∏á‡∏£‡∏∞‡∏ö‡∏ö lineage
# log_running(
#     dsn=dsn,
#     source_name="bronze.newsapi",
#     version_no=sf.config.version_no,
#     job_name="bronze_ingest_newsapi",
#     id_start=df["sf_id"].min(),
#     id_end=df["sf_id"].max(),
#     usercreate="airflow"
# )

print(df)

In [ ]:
df

In [ ]:
from src.etl.bronze.load.data_structure_loader_strategy import PostgresCsvCopyLoader
loader = PostgresCsvCopyLoader(
            Connection_String,
            "bronze",
            "source_news_articles_currentsapi",
        )
loader.create(csv)

In [ ]:
csv_cols = ['id','title','body']    # header ‡∏à‡∏≤‡∏Å‡πÑ‡∏ü‡∏•‡πå
database_table_cols = ['id','title','body','createdate','usercreate','updatedate','userupdate']
target_cols = list(csv_cols)
print("Before Target columns for insertion:", target_cols)
print("----")
for extra in ("body","cat", "createdate", "usercreate", "updatedate", "userupdate"):
    print("extra: ",extra)
    print(f"{extra} in {database_table_cols}: ",extra in database_table_cols)
    print(f"{extra} not in {target_cols}: ",extra not in target_cols)
    
    if (extra in database_table_cols) and (extra not in target_cols):
        print(f"add {extra}")
        target_cols.append(extra)
    print("----")
print("After Target columns for insertion:", target_cols)

In [ ]:
import io
import psycopg2
from pyspark.sql import functions as F, Window

def process_source(self, spark, table_name: str, timestamp_col: str = "createdate"):
    """
    ‡πÄ‡∏£‡πá‡∏ß‡∏Å‡∏ß‡πà‡∏≤‡πÄ‡∏î‡∏¥‡∏° 10‚Äì30 ‡πÄ‡∏ó‡πà‡∏≤
    ‡πÉ‡∏ä‡πâ Spark gen sf_id ‚Üí ‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô temp CSV ‚Üí COPY ‡πÄ‡∏Ç‡πâ‡∏≤ temp table ‚Üí UPDATE ‡∏Å‡∏•‡∏±‡∏ö DB
    """
    conn = self._parse_conn()

    print(f"üöÄ Processing {self.source_name} ({table_name})")

    # ‚úÖ 1. ‡∏≠‡πà‡∏≤‡∏ô‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà sf_id ‡∏¢‡∏±‡∏á‡∏ß‡πà‡∏≤‡∏á (pushdown filter)
    df = (
        spark.read.format("jdbc")
        .option("url", conn["jdbc_url"])
        .option("dbtable", f"(SELECT url, {timestamp_col} FROM {table_name} WHERE sf_id IS NULL) AS subq")
        .option("user", conn["user"])
        .option("password", conn["password"])
        .option("numPartitions", 4)                # ‡∏≠‡πà‡∏≤‡∏ô‡πÅ‡∏ö‡∏ö parallel
        .option("partitionColumn", timestamp_col)
        .option("lowerBound", "2020-01-01")
        .option("upperBound", "2030-01-01")
        .load()
    )

    if df.count() == 0:
        print(f"‚úÖ No missing sf_id in {self.source_name}")
        return

    # ‚úÖ 2. ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì Snowflake ID (‡∏ù‡∏±‡πà‡∏á Spark)
    df = df.withColumn(
        "ts_ms", (F.col(timestamp_col).cast("timestamp").cast("long") * 1000).cast("long")
    )
    window_spec = Window.partitionBy("ts_ms").orderBy(F.col("url"))
    df = df.withColumn("seq", (F.row_number().over(window_spec) - 1) & F.lit(self.config.max_sequence))
    df = df.withColumn("elapsed", F.col("ts_ms") - F.lit(self.config.epoch_start_ms))

    datacenter_shift = self.config.worker_bits + self.config.sequence_bits
    timestamp_shift = self.config.datacenter_bits + datacenter_shift

    df = df.withColumn(
        "sf_id",
        (
            (F.col("elapsed") << F.lit(timestamp_shift))
            | (F.lit(self.datacenter_id) << F.lit(datacenter_shift))
            | (F.lit(self.worker_id) << F.lit(self.config.sequence_bits))
            | F.col("seq")
        ).cast("long")
    )

    # ‚úÖ 3. ‡πÅ‡∏õ‡∏•‡∏á Spark ‚Üí Pandas ‡πÅ‡∏•‡πâ‡∏ß‡πÉ‡∏ä‡πâ COPY
    pdf = df.select("url", "sf_id").toPandas()

    tmp_csv = io.StringIO()
    pdf.to_csv(tmp_csv, sep=";", index=False, header=False)
    tmp_csv.seek(0)

    # ‚úÖ 4. ‡πÉ‡∏ä‡πâ psycopg2 COPY ‡∏•‡∏á temp table ‡πÅ‡∏•‡πâ‡∏ß update ‡∏Å‡∏•‡∏±‡∏ö
    with psycopg2.connect(
        dbname=conn["dbname"],
        user=conn["user"],
        password=conn["password"],
        host=conn["host"],
        port=conn["port"]
    ) as pg_conn, pg_conn.cursor() as cur:
        pg_conn.autocommit = True

        cur.execute("CREATE TEMP TABLE tmp_sfid (url text, sf_id bigint);")
        cur.copy_from(tmp_csv, "tmp_sfid", sep=";")

        cur.execute(f"""
            UPDATE {table_name} AS t
            SET sf_id = s.sf_id
            FROM tmp_sfid AS s
            WHERE t.url = s.url;
        """)

        print(f"‚úÖ Updated {cur.rowcount} rows for {self.source_name}")

    print(f"üéØ Done processing {self.source_name}")

In [ ]:
from pyspark.sql import SparkSession
from src.function.index.sf_generator import SnowflakeGenerator

# === ‡∏ï‡∏±‡πâ‡∏á‡∏Ñ‡πà‡∏≤ Spark session ===
spark = (
    SparkSession.builder
    .appName("SFID_Backfill_Optimized")
    .config("spark.driver.extraClassPath", "/path/to/postgresql-42.6.0.jar")
    .getOrCreate()
)

# === ‡∏ï‡∏±‡πâ‡∏á‡∏Ñ‡πà‡∏≤ DSN ===
dsn = "postgresql://postgres:!NTpatn2549@localhost:5433/postgres"

# === ‡πÄ‡∏£‡∏µ‡∏¢‡∏Å SnowflakeGenerator ===
sf = SnowflakeGenerator(
    dsn=dsn,
    source_name="bronze.newsapi"   # ‡∏ï‡πâ‡∏≠‡∏á match ‡πÉ‡∏ô system.source_registry
)

# === ‡πÄ‡∏£‡∏µ‡∏¢‡∏Å process_source() ===
sf.process_source(
    spark,
    table_name="bronze.source_news_articles_newsapi",
    timestamp_col="createdate"     # ‡πÉ‡∏ä‡πâ timestamp ‡∏à‡∏≤‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ô‡∏µ‡πâ
)

spark.stop()