In [1]:
import sys
import os
project_path = os.path.abspath(os.path.join('../../..'))
sys.path.append(project_path)
con = os.environ.get("Connection_String")

In [2]:
import src.etl.transform.data_format_strategy as BaseFormatting
from src.etl.extract.data_structure_extract_strategy import DataExtractor

In [3]:
config = {
        "type": "api_url",
        "path": "https://api.mediastack.com/v1/news?access_key=e474c520bf89c1b9208012a386645f51&limit=5",
    }

In [4]:
data = DataExtractor.get_extractor(config)

In [5]:
data_extract = data.extractor()

In [6]:
data_extract = DataExtractor.get_extractor(config).extractor()

In [7]:
data_extract

{'pagination': {'limit': 5, 'offset': 0, 'count': 5, 'total': 10000},
 'data': [{'author': None,
   'title': 'Hilltop National Bank Makes New $361,000 Investment in Diamondback Energy, Inc. $FANG',
   'description': 'Hilltop National Bank bought a new position in shares of Diamondback Energy, Inc. (NASDAQ:FANG - Free Report) during the second quarter, according to the company in its most recent 13F filing with the Securities and Exchange Commission. The firm bought 2,628 shares of the oil and natural gas compan',
   'url': 'https://www.marketbeat.com/instant-alerts/filing-hilltop-national-bank-makes-new-361000-investment-in-diamondback-energy-inc-fang-2025-10-04/',
   'source': 'lulegacy',
   'image': None,
   'category': 'general',
   'language': 'en',
   'country': 'us',
   'published_at': '2025-10-04T08:25:59+00:00'},
  {'author': None,
   'title': 'Hilltop National Bank Buys New Position in FedEx Corporation $FDX',
   'description': "Hilltop National Bank bought a new stake in shares of FedEx Corporation (NYSE:FDX - Free Report) in the second quarter, according to its most recent 13F filing with the Securities and Exchange Commission. The firm bought 1,643 shares of the shipping service provider's stock, valued at approximately",
   'url': 'https://www.marketbeat.com/instant-alerts/filing-hilltop-national-bank-buys-new-position-in-fedex-corporation-fdx-2025-10-04/',
   'source': 'lulegacy',
   'image': None,
   'category': 'general',
   'language': 'en',
   'country': 'us',
   'published_at': '2025-10-04T08:25:59+00:00'},
  {'author': None,
   'title': 'Hilltop National Bank Takes $371,000 Position in American International Group, Inc. $AIG',
   'description': "Hilltop National Bank purchased a new stake in American International Group, Inc. (NYSE:AIG - Free Report) during the 2nd quarter, according to its most recent disclosure with the Securities &amp; Exchange Commission. The firm purchased 4,340 shares of the insurance provider's stock, valued at appr",
   'url': 'https://www.marketbeat.com/instant-alerts/filing-hilltop-national-bank-takes-371000-position-in-american-international-group-inc-aig-2025-10-04/',
   'source': 'lulegacy',
   'image': None,
   'category': 'general',
   'language': 'en',
   'country': 'us',
   'published_at': '2025-10-04T08:25:59+00:00'},
  {'author': 'Cinenuevatribuna',
   'title': 'El Cuarteto de Nos hará historia en el Movistar Arena de Madrid el 10 de marzo de 2026',
   'description': 'La fuerza y el lugar que ocupa Cuarteto de Nos en la escena del rock latino ya no es novedad.',
   'url': 'https://www.nuevatribuna.es/articulo/cultura---ocio/cuarteto-nos-hara-historia-movistar-arena-madrid-10-marzo-2026/20251004102559242894.html',
   'source': 'nuevatribuna',
   'image': 'https://www.nuevatribuna.es/media/nuevatribuna/images/2025/10/04/2025100410234965511.jpg',
   'category': 'general',
   'language': 'es',
   'country': 'es',
   'published_at': '2025-10-04T08:25:59+00:00'},
  {'author': '(Redazione di Zeus News)',
   'title': 'Microsoft Excel compie 40 anni: da foglio di calcolo pionieristico su Mac a assistente intelligente',
   'description': 'News -',
   'url': 'http://www.zeusnews.it/n.php?c=31391',
   'source': 'zeusnews',
   'image': None,
   'category': 'general',
   'language': 'it',
   'country': 'it',
   'published_at': '2025-10-04T08:25:59+00:00'}]}

In [8]:
list=[
    BaseFormatting.FromJsonToDataFrameFormatter(array_keys=['data'])
]
data_extractor = BaseFormatting.DataFormatter(list)
df = data_extractor.formatting(data_extract)
df.head()

,author,title,description,url,source,image,category,language,country,published_at
0,None,"Hilltop National Bank Makes New $361,000 Inves...",Hilltop National Bank bought a new position in...,https://www.marketbeat.com/instant-alerts/fili...,lulegacy,None,general,en,us,2025-10-04T08:25:59+00:00
1,None,Hilltop National Bank Buys New Position in Fed...,Hilltop National Bank bought a new stake in sh...,https://www.marketbeat.com/instant-alerts/fili...,lulegacy,None,general,en,us,2025-10-04T08:25:59+00:00
2,None,"Hilltop National Bank Takes $371,000 Position ...",Hilltop National Bank purchased a new stake in...,https://www.marketbeat.com/instant-alerts/fili...,lulegacy,None,general,en,us,2025-10-04T08:25:59+00:00
3,Cinenuevatribuna,El Cuarteto de Nos hará historia en el Movista...,La fuerza y el lugar que ocupa Cuarteto de Nos...,https://www.nuevatribuna.es/articulo/cultura--...,nuevatribuna,https://www.nuevatribuna.es/media/nuevatribuna...,general,es,es,2025-10-04T08:25:59+00:00
4,(Redazione di Zeus News),Microsoft Excel compie 40 anni: da foglio di c...,News -,http://www.zeusnews.it/n.php?c=31391,zeusnews,None,general,it,it,2025-10-04T08:25:59+00:00

In [11]:
import pandas as pd
df["createdate"] = pd.Timestamp.now()
df["usercreate"] = "system"
df["updatedate"] = pd.NaT       # ค่า null
df["userupdate"] = "system"
df["activedata"] = True

In [12]:
df

,author,title,description,url,source,image,category,language,country,published_at,createdate,usercreate,updatedate,userupdate,activedata
0,None,"Hilltop National Bank Makes New $361,000 Inves...",Hilltop National Bank bought a new position in...,https://www.marketbeat.com/instant-alerts/fili...,lulegacy,None,general,en,us,2025-10-04T08:25:59+00:00,2025-10-04 15:55:33.911915,system,NaT,system,True
1,None,Hilltop National Bank Buys New Position in Fed...,Hilltop National Bank bought a new stake in sh...,https://www.marketbeat.com/instant-alerts/fili...,lulegacy,None,general,en,us,2025-10-04T08:25:59+00:00,2025-10-04 15:55:33.911915,system,NaT,system,True
2,None,"Hilltop National Bank Takes $371,000 Position ...",Hilltop National Bank purchased a new stake in...,https://www.marketbeat.com/instant-alerts/fili...,lulegacy,None,general,en,us,2025-10-04T08:25:59+00:00,2025-10-04 15:55:33.911915,system,NaT,system,True
3,Cinenuevatribuna,El Cuarteto de Nos hará historia en el Movista...,La fuerza y el lugar que ocupa Cuarteto de Nos...,https://www.nuevatribuna.es/articulo/cultura--...,nuevatribuna,https://www.nuevatribuna.es/media/nuevatribuna...,general,es,es,2025-10-04T08:25:59+00:00,2025-10-04 15:55:33.911915,system,NaT,system,True
4,(Redazione di Zeus News),Microsoft Excel compie 40 anni: da foglio di c...,News -,http://www.zeusnews.it/n.php?c=31391,zeusnews,None,general,it,it,2025-10-04T08:25:59+00:00,2025-10-04 15:55:33.911915,system,NaT,system,True