In [1]:
import sys
import os
project_path = os.path.abspath(os.path.join('../../'))
sys.path.append(project_path)
con = os.environ.get("Connection_String")

print(con)

postgresql://postgres:!NTpatn2549@localhost:5433/postgres

In [2]:
from src.etl.bronze.extractors.data_structure_extract_strategy import DataExtractor

db_config = {
        "type": "db",
        "conn_str": con,
        "table": "silver_dbt_combined",
        "schema":"silver"
    }
with DataExtractor.get_extractor(cfg=db_config) as Extractor:
    df = Extractor.extractor()

df.head(5)

,sf_id,source_system,source_name,article_id,author,title,description,url,image_url,category,...,region,content,published_at,createdate,updatedate,batch_id,layer,usercreate,userupdate,activedata
0,242165876118265856,currentsapi,washingtonpost,eb27e54e-0ced-4adf-8ba0-0c215ca47234,Andrew Jeong,4 killed in strike on another boat U.S. allege...,The U.S. military destroyed another vessel in ...,https://www.washingtonpost.com/national-securi...,https://www.washingtonpost.com/wp-apps/imrs.ph...,'world',...,None,None,2025-10-30 04:54:15+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True
1,242165876118265857,currentsapi,cnbc,4da1697b-d44a-423f-8c97-335c24d943a3,Anniek Bao,"Trump cuts fentanyl tariffs on China to 10%, s...","BUSAN, SOUTH KOREA - OCTOBER 30: U.S. Presiden...",https://www.cnbc.com/2025/10/30/trump-cuts-fen...,https://image.cnbcfm.com/api/v1/image/10821914...,'general',...,None,None,2025-10-30 04:54:01+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True
2,242165876118265858,currentsapi,foxnews,6a19dcca-6fdd-4e6f-9f62-bcbad10fe18a,Fox News,Pakistan threatens to 'obliterate' Taliban aft...,Pakistan's defense minister on Wednesday threa...,https://www.foxnews.com/world/pakistan-threate...,https://a57.foxnews.com/static.foxnews.com/fox...,'world',...,None,None,2025-10-30 04:45:35+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True
3,242165876118265859,currentsapi,cnbc,b779a798-82b5-4391-bf3f-98e7b2741230,Lim Hui Jie,South Korea's largest K-pop agency gains 644 m...,"SEOUL, SOUTH KOREA - MARCH 7: NewJeans attends...",https://www.cnbc.com/2025/10/30/newjeans-contr...,https://image.cnbcfm.com/api/v1/image/10821912...,'world',...,None,None,2025-10-30 04:37:09+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True
4,242165876118265860,currentsapi,foxnews,3b1fbcae-ec0e-42a9-9b1a-d692ec445ef8,Fox News,Blue Jays one win from World Series title afte...,Trey Yesavage's final start of a wild 2025 sea...,https://www.foxnews.com/sports/blue-jays-one-w...,https://a57.foxnews.com/static.foxnews.com/fox...,'sports',...,None,None,2025-10-30 04:28:50+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True

In [4]:
df.describe()

,sf_id,source_system,source_name,article_id,author,title,description,url,image_url,category,...,region,content,published_at,createdate,updatedate,batch_id,layer,usercreate,userupdate,activedata
count,1254,1254,5100,4977,5033,5088,5039,5100,4193,5079,...,144,65,5100,5100,240,1254,5100,5100,240,5100
unique,1254,3,139,4967,1748,5039,4824,5100,3304,45,...,19,65,NaN,NaN,NaN,48,1,2,1,1
top,242165876118265856,currentsapi,currentsapi,associated-press,foxnews,Michael Owen: The Stan Sport Special,Bringing Taiwan to the World and the World to ...,https://www.washingtonpost.com/national-securi...,None,general,...,us,"Laura BickerChina correspondent, reporting fro...",NaN,NaN,NaN,scheduled__2025-10-29T06:00:00+00:00,silver,admin,system,True
freq,1,1110,2799,5,538,5,60,1,810,1840,...,95,1,NaN,NaN,NaN,42,5100,3846,240,5100
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2025-08-19 01:00:51.410392064+00:00,2025-08-19 04:45:55.385767680+00:00,2025-11-09 22:18:15.909465856+00:00,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2025-05-27 11:00:49+00:00,2025-05-28 11:44:39+00:00,2025-10-29 11:50:20.863648+00:00,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2025-06-30 01:38:41.500000+00:00,2025-06-30 06:00:19+00:00,2025-11-09 06:00:34.854735104+00:00,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2025-08-04 01:28:54.500000+00:00,2025-08-04 03:01:38+00:00,2025-11-11 09:29:55.452134912+00:00,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2025-10-02 04:07:46+00:00,2025-10-02 04:53:07+00:00,2025-11-13 06:57:36.876392960+00:00,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2025-11-26 05:54:10+00:00,2025-11-26 06:01:17.328815+00:00,2025-11-16 17:12:05.892081+00:00,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sf_id          1254 non-null   object
 1   source_system  1254 non-null   object
 2   source_name    5100 non-null   object
 3   article_id     4977 non-null   object
 4   author         5033 non-null   object
 5   title          5088 non-null   object
 6   description    5039 non-null   object
 7   url            5100 non-null   object
 8   image_url      4193 non-null   object
 9   category       5079 non-null   object
 10  language       5100 non-null   object
 11  region         144 non-null    object
 12  content        65 non-null     object
 13  published_at   5100 non-null   datetime64[ns, UTC]
 14  createdate     5100 non-null   datetime64[ns, UTC]
 15  updatedate     240 non-null    datetime64[ns, UTC]
 16  batch_id       1254 non-null   object
 17  layer          5100 non-null   object
 18  usercreate     5100 non-null   object
 19  userupdate     240 non-null    object
 20  activedata     5100 non-null   bool
dtypes: bool(1), datetime64[ns, UTC](3), object(17)
memory usage: 802.0+ KB

In [9]:
import uuid
df["uuid_silver"] = df.apply(lambda _: uuid.uuid4(), axis=1)

In [7]:

from src.function.index.sf_generator import SnowflakeGenerator
sf = SnowflakeGenerator(dsn=con, source_name="silver.dbt.combined")
df = sf.assign_ids_from_dataframe(df, ts_col="createdate", sf_col="sf_id")
if df["sf_id"].duplicated().any():
    raise print("Duplicate sf_id found after assignment.")

In [10]:
df.head(10)

,sf_id,source_system,source_name,article_id,author,title,description,url,image_url,category,...,content,published_at,createdate,updatedate,batch_id,layer,usercreate,userupdate,activedata,uuid_silver
0,242165876118265856,currentsapi,washingtonpost,eb27e54e-0ced-4adf-8ba0-0c215ca47234,Andrew Jeong,4 killed in strike on another boat U.S. allege...,The U.S. military destroyed another vessel in ...,https://www.washingtonpost.com/national-securi...,https://www.washingtonpost.com/wp-apps/imrs.ph...,'world',...,None,2025-10-30 04:54:15+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,26990060-6d5a-438f-8a7c-bf327225159e
1,242165876118265857,currentsapi,cnbc,4da1697b-d44a-423f-8c97-335c24d943a3,Anniek Bao,"Trump cuts fentanyl tariffs on China to 10%, s...","BUSAN, SOUTH KOREA - OCTOBER 30: U.S. Presiden...",https://www.cnbc.com/2025/10/30/trump-cuts-fen...,https://image.cnbcfm.com/api/v1/image/10821914...,'general',...,None,2025-10-30 04:54:01+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,8027d2aa-03d6-4510-b0a1-cf9d5be44824
2,242165876118265858,currentsapi,foxnews,6a19dcca-6fdd-4e6f-9f62-bcbad10fe18a,Fox News,Pakistan threatens to 'obliterate' Taliban aft...,Pakistan's defense minister on Wednesday threa...,https://www.foxnews.com/world/pakistan-threate...,https://a57.foxnews.com/static.foxnews.com/fox...,'world',...,None,2025-10-30 04:45:35+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,cde3823d-49f5-47e6-8a4b-5a035ca0d268
3,242165876118265859,currentsapi,cnbc,b779a798-82b5-4391-bf3f-98e7b2741230,Lim Hui Jie,South Korea's largest K-pop agency gains 644 m...,"SEOUL, SOUTH KOREA - MARCH 7: NewJeans attends...",https://www.cnbc.com/2025/10/30/newjeans-contr...,https://image.cnbcfm.com/api/v1/image/10821912...,'world',...,None,2025-10-30 04:37:09+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,3c8be0bc-5699-4abb-aef6-d3a97521ed55
4,242165876118265860,currentsapi,foxnews,3b1fbcae-ec0e-42a9-9b1a-d692ec445ef8,Fox News,Blue Jays one win from World Series title afte...,Trey Yesavage's final start of a wild 2025 sea...,https://www.foxnews.com/sports/blue-jays-one-w...,https://a57.foxnews.com/static.foxnews.com/fox...,'sports',...,None,2025-10-30 04:28:50+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,24ffc361-1b80-4390-ac6e-d6d514aea2da
5,242165876118265861,currentsapi,foxnews,5c35201c-3f1e-48d6-9128-aff946966094,Fox News,Derek Jeter jokes with Dodgers star Mookie Bet...,Baseball Hall of Famer Derek Jeter knows all t...,https://www.foxnews.com/sports/derek-jeter-jok...,https://a57.foxnews.com/static.foxnews.com/fox...,'sports',...,None,2025-10-30 03:33:45+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,fc479132-5430-4880-98fc-4b54754a418e
6,242165876118265862,currentsapi,cnbc,e84dee3f-3131-49bb-81ba-25dd3262b5ac,Lim Hui Jie,Bank of Japan holds rates in first meeting aft...,The Japanese national flag is seen at the Bank...,https://www.cnbc.com/2025/10/30/bank-of-japan-...,https://image.cnbcfm.com/api/v1/image/10801542...,'general',...,None,2025-10-30 03:27:25+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,ed71bc25-bf79-45f3-bd85-ff36997fbf6c
7,242165876118265863,currentsapi,foxnews,d0fc5769-a96d-4915-b648-3223c4e9316a,Fox News,"Trump, Xi meet in effort to resolve trade tens...",U.S. President Donald Trump on Thursday met fa...,https://www.foxnews.com/world/trump-xi-meet-ef...,https://a57.foxnews.com/static.foxnews.com/fox...,'world',...,None,2025-10-30 03:25:42+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,a9afbea0-247a-4768-99a6-bc0be156f8bc
8,242165876118265864,currentsapi,foxnews,8afa5021-60b6-436f-a527-e6bfc273c30d,Fox News,JD Vance reveals why Christian values are key ...,Vice President JD Vance spoke at length during...,https://www.foxnews.com/politics/jd-vance-reve...,https://a57.foxnews.com/static.foxnews.com/fox...,'general',...,None,2025-10-30 03:14:23+00:00,2025-10-30 06:01:03.658883+00:00,NaT,scheduled__2025-10-29T06:00:00+00:00,silver,system,None,True,d2b1bb03-a47f-4398-a116-66c32f935ad8
9,241964976628047875,currentsapi,politico,a0018036-1325-4800-bc72-8b0b4e7ecea9,politico,House employees get help ahead of first missed...,All employees of the House of Representatives ...,https://www.politico.com/live-updates/2025/10/...,None,'poiltics',...,None,2025-10-29 16:21:15+00:00,2025-10-29 16:45:36.793223+00:00,2025-10-29 17:30:29.212118+00:00,manual__2025-10-29T16:42:06.107449+00:00,silver,system,system,True,18eb053c-e91d-4476-a6ff-b32c4c965108

In [ ]:
df = sf.assign_ids_from_dataframe(
    df,
    ts_col="createdate",   # คอลัมน์ datetime
    sf_col="sf_id",        # คอลัมน์ที่เก็บ Snowflake ID (ตอนนี้เป็น text ก็ได้)
)

In [ ]:
df["sf_id"].duplicated().any()

In [ ]:

from src.function.index.sf_generator.database import SnowflakeDatabase
dsn = con
db = SnowflakeDatabase(dsn)
source_name = "bronze.currentsapi"
datacenter_id = 0
last_ts = db.get_last_timestamp(source_name, datacenter_id)

print("Last timestamp =", last_ts)